<nav class="aside-menu">
  <div class="logo">
    <a href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/images/logo.png" />
    </a>
  </div>
  <ul>
    <li><a href="#">AngularJS</a></li>
    <li>
      <a href="#">Concepts <i class="fa fa-angle-down"></i></a>
      <ul>
        <li><a href="{{ site.baseurl }}/Concepts/ObjectOrientedPrograming.html">Object Oriented Programing</a></li>
        <li><a href="{{ site.baseurl }}/Concepts/SingleResponsibilityPrinciple.html">SingleResponsibilityPrinciple</a></li>
      </ul>
    </li>
    <li><a href="#">Elasticsearch</a></li>
    <li>
      <a href="#">Git <i class="fa fa-angle-down"></i></a>
      <ul>
        <li><a href="{{ site.baseurl }}/Git/Workflow.html">Workflow</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Microsoft <i class="fa fa-angle-down"></i></a>
      <ul>
        <li><a href="#">Autofac <i class="fa fa-angle-down"></i></a></li>
        <li>
          <a href="#">C-Sharp <i class="fa fa-angle-down"></i></a>
          <ul>
            <li><a href="{{ site.baseurl }}/Microsoft/C-Sharp/StructureOfClass.html">Structure Of Class</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Entity Framework <i class="fa fa-angle-down"></i></a>
          <ul>
            <li><a href="{{ site.baseurl }}/Microsoft/EntityFramework/BestPractices.html">Best Practices</a></li>
            <li><a href="{{ site.baseurl }}/Microsoft/EntityFramework/Concepts.html">Concepts</a></li>
            <li><a href="{{ site.baseurl }}/Microsoft/EntityFramework/Migrations.html">Migrations</a></li>
          </ul>
        </li>
        <li>
          <a href="#">MVC <i class="fa fa-angle-down"></i></a>
          <ul>
            <li><a href="{{ site.baseurl }}/Microsoft/MVC/ProjectStructure.html">Project Structure</a></li>
          </ul>
        </li>
        <li>
          <a href="#">OWIN <i class="fa fa-angle-down"></i></a>
          <ul>
            <li><a href="{{ site.baseurl }}/Microsoft/OWIN/Implementation.html">Implementation</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Mobile <i class="fa fa-angle-down"></i></a>
      <ul>
        <li>
          <a href="#">Swift <i class="fa fa-angle-down"></i></a>
          <ul>
            <li><a href="{{ site.baseurl }}/Mobile/Swift/StructVsClass.html">Struct vs Class</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">MySQL <i class="fa fa-angle-down"></i></a>
      <ul>
        <li><a href="{{ site.baseurl }}/MySQL/indexingGuide.html">Indexing Guide</a></li>
      </ul>
    </li>
    <li><a href="#">NodeJS</a></li>
    <li><a href="#">PHP</a></li>
    <li><a href="#">Python</a></li>
  </ul>
  <!--<ul>
    {% for my_page in site.pages %}
    {% if my_page.title %}
    <li>
      <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>-->
</nav>