/*
*   Author: Dharmsh Pipariya
*   Email: pipariyadharmesh@gmail.com
*/

//Variables
$black: #000000 !default;
$white: #ffffff !default;

$darken-grey: #2c3e50 !default;
$dark-grey: #34495e !default;
$grey: #7f8c8d !default;
$light-grey: #bdc3c7 !default;
$lighten-grey: #ecf0f1 !default;

$blue: #3498db !default;
$red: #e74c3c !default;
$green: #2ecc71 !default;
$yellow: #f1c40f !default;

@font-face { font-family: 'Noto Sans'; font-weight: 400; font-style: normal; src: url('../fonts/Noto-Sans-regular/Noto-Sans-regular.eot'); src: url('../fonts/Noto-Sans-regular/Noto-Sans-regular.eot?#iefix') format('embedded-opentype'), local('Noto Sans'), local('Noto-Sans-regular'), url('../fonts/Noto-Sans-regular/Noto-Sans-regular.woff2') format('woff2'), url('../fonts/Noto-Sans-regular/Noto-Sans-regular.woff') format('woff'), url('../fonts/Noto-Sans-regular/Noto-Sans-regular.ttf') format('truetype'), url('../fonts/Noto-Sans-regular/Noto-Sans-regular.svg#NotoSans') format('svg'); }
@font-face { font-family: 'Noto Sans'; font-weight: 700; font-style: normal; src: url('../fonts/Noto-Sans-700/Noto-Sans-700.eot'); src: url('../fonts/Noto-Sans-700/Noto-Sans-700.eot?#iefix') format('embedded-opentype'), local('Noto Sans Bold'), local('Noto-Sans-700'), url('../fonts/Noto-Sans-700/Noto-Sans-700.woff2') format('woff2'), url('../fonts/Noto-Sans-700/Noto-Sans-700.woff') format('woff'), url('../fonts/Noto-Sans-700/Noto-Sans-700.ttf') format('truetype'), url('../fonts/Noto-Sans-700/Noto-Sans-700.svg#NotoSans') format('svg'); }
@font-face { font-family: 'Noto Sans'; font-weight: 400; font-style: italic; src: url('../fonts/Noto-Sans-italic/Noto-Sans-italic.eot'); src: url('../fonts/Noto-Sans-italic/Noto-Sans-italic.eot?#iefix') format('embedded-opentype'), local('Noto Sans Italic'), local('Noto-Sans-italic'), url('../fonts/Noto-Sans-italic/Noto-Sans-italic.woff2') format('woff2'), url('../fonts/Noto-Sans-italic/Noto-Sans-italic.woff') format('woff'), url('../fonts/Noto-Sans-italic/Noto-Sans-italic.ttf') format('truetype'), url('../fonts/Noto-Sans-italic/Noto-Sans-italic.svg#NotoSans') format('svg'); }
@font-face { font-family: 'Noto Sans'; font-weight: 700; font-style: italic; src: url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot'); src: url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot?#iefix') format('embedded-opentype'), local('Noto Sans Bold Italic'), local('Noto-Sans-700italic'), url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff2') format('woff2'), url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff') format('woff'), url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.ttf') format('truetype'), url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.svg#NotoSans') format('svg'); }


//normalize
* { margin: 0; padding: 0; outline: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
html { position: relative; min-height: 100%; }
body { background-color: darken($white, 4); color: lighten($black, 40); font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 15px; line-height: 1.42857143; font-weight: 400; margin: 0; }
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; }
audio:not([controls]) { display: none; height: 0; }
progress { vertical-align: baseline; }
template, [hidden] { display: none; }
abbr[title] { border-bottom: none; text-decoration: underline; text-decoration: underline dotted; }
h1, h2, h3, h4, h5, h6 { color: lighten($black, 20); margin: 0 0 20px; }
p, ul, ol, table, pre, dl { margin: 0 0 20px; }
h1, h2, h3 { line-height: 1.1; }
h1 { font-size: 28px; }
h2 { color: lighten($black, 25); }
h3, h4, h5, h6 { color: lighten($black, 35); }
a { color: $blue; background-color: transparent; text-decoration: none;
    &:hover { color: darken($blue,5); text-decoration: underline; }
    small, &:hover small { font-size: 11px; color: lighten($black, 50); margin-top: -0.3em; display: block; }
}
b, strong { font-weight: bolder; }
dfn { font-style: italic; }
mark { background-color: $yellow; color: rgba($black,0.7); }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sub { bottom: -0.25em; }
sup { top: -0.5em; }
img { border-style: none; max-width: 100%; }
svg:not(:root) { overflow: hidden; }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }
code, pre { font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace; color: lighten($black,20); font-size: 12px; }
pre { padding: 8px 15px; background: darken($white,5); border-radius: 5px; border: 1px solid darken($white,10); overflow-x: auto; }
blockquote { border-left: 1px solid darken($white,10); margin: 0; padding: 0 0 0 20px; font-style: italic; }
figure { margin: 1em 40px; }
hr { border: 0; clear: both; background: rgba($black,0.12); height: 1px; margin: 0 0 20px; }
table { width: 100%; border-collapse: collapse; }
th, td { text-align: left; padding: 5px 10px; border-bottom: 1px solid darken($white,10); }
dt { color: lighten($black,25); font-weight: 700; }
th { color: lighten($black,25); }
ol, ul { margin: 1rem 0; padding-left: 2.5rem; }
button, input, optgroup, select, textarea { font: inherit; margin: 0; }
optgroup { font-weight: bold; }
button, input { overflow: visible; }
button, select { text-transform: none; }
button, html [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }
fieldset { border: 1px solid rgba($black,0.2); margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; color: inherit; display: table; max-width: 100%; padding: 0; white-space: normal; }
textarea { overflow: auto; }
[type="checkbox"], [type="radio"] { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; }
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }
[type="search"] { -webkit-appearance: textfield; outline-offset: -2px; }
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
::-webkit-input-placeholder { color: inherit; opacity: 0.54; }
::-webkit-file-upload-button { -webkit-appearance: button; font: inherit; }

//Bootstrap
.left { float: left; }
.right { float: right; }
.clear { clear: both; }
.clearfix { clear: both; display: block;
    &:after, &:before { content: ' '; display: block; }
    &:before { clear: both; }
}
.page-title { border-bottom: 1px solid $light-grey; padding-bottom: 8px; }

.btn { display: inline-block; padding: 0.75rem 1rem; margin-bottom: 4px; color: rgba($white, 0.7); background-color: rgba($white, 0.08); border: 1px solid rgba($white, 0.2); border-radius: 3px; transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    &:hover, &:focus { color: rgba($white, 0.8); text-decoration: none; background-color: rgba($white, 0.2); border-color: rgba($white, 0.3); }
    &.btn-primary { background-color: $blue;
        &:hover, &:focus { background-color: lighten($blue,5); }
        &:active { background-color: darken($blue,5); }
    }
}

//Layout

//asidenav
.aside-menu { position: fixed; top: 0; bottom: 0; left: 0; width: 220px; background: $dark-grey; overflow-x: hidden; overflow-y: hidden; padding: 1rem 0;
    &:hover { overflow-y: auto; }
    ul { padding: 3px 0; margin: 0; list-style: none;
        li { display: block;
            a { display: block; line-height: 32px; font-size: 15px; color: darken($white,10); padding: 0 1rem; border-left: 5px solid transparent; text-decoration: none;
                &:hover, &:focus, &:active, .active { color: $white; text-decoration: none; background: $darken-grey; }
                .active { border-collapse: $yellow; }
                .fa { float: right; line-height: 32px; }
            }
            ul { margin-left: 1rem; display: block; max-height: 0; overflow: hidden; background: rgba($dark-grey,0.1); transition: 5s ease-out; }
            &:hover ul { max-height: none; }
        }
    }
}

//container
.container-fluid { width: 100%; padding: 30px 30px 0; }
.aside-menu + .container-fluid { padding-left: 250px; }

//header
.header { border-bottom: 1px solid $light-grey; padding-bottom: 8px; margin-bottom: 20px;
    .nav-toggle { display: none; }
    h1 { margin-bottom: 0; }
}

//footer
.footer { background: $lighten-grey; border-top: 1px solid $light-grey; display: block; margin: 1rem -30px 0; padding: 0 30px;
    p { padding: 1rem 0; margin: 0; }
}

//responsive
@media screen and (max-width: 767px) {
    .aside-menu { left: -220px; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; z-index: 1; overflow-y: auto;
        & + .container-fluid { padding-left: 20px; }
        &.open { left: 0; }
    }

    .container-fluid { padding: 80px 20px 0; }

    .header { position: fixed; top: 0; left: 0; right: 0; padding: 13px 20px 13px 55px; background: $lighten-grey; box-shadow: 0 1px 10px $grey;
        .nav-toggle { display: block; position: absolute; top: 0; left: 0; padding: 17px 20px; background: transparent; border: 0; color: lighten($black,60); }
    }

    .footer { margin: 1rem -20px 0;
        p + p { padding-top: 0; }
    }
}
