/*
*   Author: Dharmsh Pipariya
*   Email: pipariyadharmesh@gmail.com
*/
@font-face {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Noto-Sans-regular/Noto-Sans-regular.eot");
  src: url("../fonts/Noto-Sans-regular/Noto-Sans-regular.eot?#iefix") format("embedded-opentype"), local("Noto Sans"), local("Noto-Sans-regular"), url("../fonts/Noto-Sans-regular/Noto-Sans-regular.woff2") format("woff2"), url("../fonts/Noto-Sans-regular/Noto-Sans-regular.woff") format("woff"), url("../fonts/Noto-Sans-regular/Noto-Sans-regular.ttf") format("truetype"), url("../fonts/Noto-Sans-regular/Noto-Sans-regular.svg#NotoSans") format("svg");
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Noto-Sans-700/Noto-Sans-700.eot");
  src: url("../fonts/Noto-Sans-700/Noto-Sans-700.eot?#iefix") format("embedded-opentype"), local("Noto Sans Bold"), local("Noto-Sans-700"), url("../fonts/Noto-Sans-700/Noto-Sans-700.woff2") format("woff2"), url("../fonts/Noto-Sans-700/Noto-Sans-700.woff") format("woff"), url("../fonts/Noto-Sans-700/Noto-Sans-700.ttf") format("truetype"), url("../fonts/Noto-Sans-700/Noto-Sans-700.svg#NotoSans") format("svg");
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Noto-Sans-italic/Noto-Sans-italic.eot");
  src: url("../fonts/Noto-Sans-italic/Noto-Sans-italic.eot?#iefix") format("embedded-opentype"), local("Noto Sans Italic"), local("Noto-Sans-italic"), url("../fonts/Noto-Sans-italic/Noto-Sans-italic.woff2") format("woff2"), url("../fonts/Noto-Sans-italic/Noto-Sans-italic.woff") format("woff"), url("../fonts/Noto-Sans-italic/Noto-Sans-italic.ttf") format("truetype"), url("../fonts/Noto-Sans-italic/Noto-Sans-italic.svg#NotoSans") format("svg");
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot");
  src: url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot?#iefix") format("embedded-opentype"), local("Noto Sans Bold Italic"), local("Noto-Sans-700italic"), url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff2") format("woff2"), url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff") format("woff"), url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.ttf") format("truetype"), url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.svg#NotoSans") format("svg");
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: whitesmoke;
  color: #666666;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  font-weight: 400;
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

template, [hidden] {
  display: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  color: #333333;
  margin: 0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

h2 {
  color: #404040;
}

h3, h4, h5, h6 {
  color: #595959;
}

a {
  color: #3498db;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #258cd1;
  text-decoration: underline;
}

a small, a:hover small {
  font-size: 11px;
  color: gray;
  margin-top: -0.3em;
  display: block;
}

b, strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #f1c40f;
  color: rgba(0, 0, 0, 0.7);
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

code, pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color: #333333;
  font-size: 12px;
}

pre {
  padding: 8px 15px;
  background: #f2f2f2;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  overflow-x: auto;
}

blockquote {
  border-left: 1px solid #e6e6e6;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

figure {
  margin: 1em 40px;
}

hr {
  border: 0;
  clear: both;
  background: rgba(0, 0, 0, 0.12);
  height: 1px;
  margin: 0 0 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e6e6e6;
}

dt {
  color: #404040;
  font-weight: 700;
}

th {
  color: #404040;
}

ol, ul {
  margin: 1rem 0;
  padding-left: 2.5rem;
}

button, input, optgroup, select, textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: bold;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type="checkbox"], [type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.clearfix {
  clear: both;
  display: block;
}

.clearfix:after, .clearfix:before {
  content: ' ';
  display: block;
}

.clearfix:before {
  clear: both;
}

.page-title {
  border-bottom: 1px solid #bdc3c7;
  padding-bottom: 8px;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1rem;
  margin-bottom: 4px;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.btn:hover, .btn:focus {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3);
}

.btn.btn-primary {
  background-color: #3498db;
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
  background-color: #4aa3df;
}

.btn.btn-primary:active {
  background-color: #258cd1;
}

.aside-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 220px;
  background: #34495e;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 1rem 0;
}

.aside-menu:hover {
  overflow-y: auto;
}

.aside-menu ul {
  padding: 3px 0;
  margin: 0;
  list-style: none;
}

.aside-menu ul li {
  display: block;
}

.aside-menu ul li a {
  display: block;
  line-height: 32px;
  font-size: 15px;
  color: #e6e6e6;
  padding: 0 1rem;
  border-left: 5px solid transparent;
  text-decoration: none;
}

.aside-menu ul li a:hover, .aside-menu ul li a:focus, .aside-menu ul li a:active, .aside-menu ul li a .active {
  color: #ffffff;
  text-decoration: none;
  background: #2c3e50;
}

.aside-menu ul li a .active {
  border-collapse: #f1c40f;
}

.aside-menu ul li a .fa {
  float: right;
  line-height: 32px;
}

.aside-menu ul li ul {
  margin-left: 1rem;
  display: block;
  max-height: 0;
  overflow: hidden;
  background: rgba(52, 73, 94, 0.1);
  transition: 5s ease-out;
}

.aside-menu ul li:hover ul {
  max-height: none;
}

.container-fluid {
  width: 100%;
  padding: 30px 30px 0;
}

.aside-menu + .container-fluid {
  padding-left: 250px;
}

.header {
  border-bottom: 1px solid #bdc3c7;
  padding-bottom: 8px;
  margin-bottom: 20px;
}

.header .nav-toggle {
  display: none;
}

.header h1 {
  margin-bottom: 0;
}

.footer {
  background: #ecf0f1;
  border-top: 1px solid #bdc3c7;
  display: block;
  margin: 1rem -30px 0;
  padding: 0 30px;
}

.footer p {
  padding: 1rem 0;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .aside-menu {
    left: -220px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 1;
    overflow-y: auto;
  }
  .aside-menu + .container-fluid {
    padding-left: 20px;
  }
  .aside-menu.open {
    left: 0;
  }
  .container-fluid {
    padding: 80px 20px 0;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 13px 20px 13px 55px;
    background: #ecf0f1;
    box-shadow: 0 1px 10px #7f8c8d;
  }
  .header .nav-toggle {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 17px 20px;
    background: transparent;
    border: 0;
    color: #999999;
  }
  .footer {
    margin: 1rem -20px 0;
  }
  .footer p + p {
    padding-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */